@font-face {
  font-family: G-Anton-n4;
  font-display: swap;
  src: url('../data/fonts/anton_v11_1Ptgg87LROyAm0K08i4gS7lu.ttf');
}
@font-face {
  font-family: G-Amaranth-n4;
  font-display: swap;
  src: url('../data/fonts/amaranth_v10_KtkuALODe433f0j1zPnCF9GqwnzW.ttf');
}